@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gym Manager</h1>
    <p>La mejor opcion para tu gym</p>
    <a class="btn btn-primary" href="/Identity/Account/Login">Iniciar sesion</a>
</div>
