@model GymManager.Models.MetodosPagos

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <h4>Detalle Método Pago</h4>
                    <div class="ml-auto">
                        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
                </ul>
                <div class="mt-5">
                    <a asp-action="Edit" asp-route-id="@Model.IdMetodoPago" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>